:root {
  --bg-color: aliceblue;
  --c-violet: #9c27b0;
  --c-white: white;
  --c-yellow: yellow;
  --c-black: black;
  --c-blue: #0f3d7c;
}

.heraldry {
  width: 10em;
  height: 10em;
  /*border: 1px solid black;*/
  margin-right: 1em;
  position: relative; /* css shenanigans for a proper border */
  background: var(--c-blue);
}

.heraldry1 {
  width: 1em;
  height: 1em;
  position: absolute;  /* css shenanigans for a proper border */
  top: -1em;  /* offset because of box-shadow values */
  left: -1em; /* offset because of box-shadow values */
  box-shadow: 
    /* KNEE PAD SHAPE */
    1em 1em var(--bg-color), 2em 1em var(--bg-color), 9em 1em var(--bg-color), 10em 1em var(--bg-color),
    1em 2em var(--bg-color), 10em 2em var(--bg-color),
    1em 8em var(--bg-color), 10em 8em var(--bg-color),
    1em 9em var(--bg-color), 10em 9em var(--bg-color),
    1em 10em var(--bg-color), 2em 10em var(--bg-color), 9em 10em var(--bg-color), 10em 10em var(--bg-color),
    /* KNEE PAD SHAPE */

    1em 1em var(--c-violet),
    2em 1em var(--c-violet),
    3em 1em var(--c-violet),

    1em 2em var(--c-violet),
    2em 2em var(--c-violet),
    3em 2em var(--c-violet),
    4em 2em var(--c-violet),

    1em 3em var(--c-violet),
    2em 3em var(--c-violet),
    3em 3em var(--c-violet),
    4em 3em var(--c-violet),
    5em 3em var(--c-violet),

    2em 4em var(--c-violet),
    3em 4em var(--c-violet),
    4em 4em var(--c-violet),
    5em 4em var(--c-violet),
    6em 4em var(--c-violet),

    3em 5em var(--c-violet),
    4em 5em var(--c-violet),
    5em 5em var(--c-violet),
    6em 5em var(--c-violet),
    7em 5em var(--c-violet),

    4em 6em var(--c-violet),
    5em 6em var(--c-violet),
    6em 6em var(--c-violet),
    7em 6em var(--c-violet),
    8em 6em var(--c-violet),

    5em 7em var(--c-violet),
    6em 7em var(--c-violet),
    7em 7em var(--c-violet),
    8em 7em var(--c-violet),
    9em 7em var(--c-violet),

    6em 8em var(--c-violet),
    7em 8em var(--c-violet),
    8em 8em var(--c-violet),
    9em 8em var(--c-violet),
    10em 8em var(--c-violet),

    7em 9em var(--c-violet),
    8em 9em var(--c-violet),
    9em 9em var(--c-violet),
    10em 9em var(--c-violet),

    8em 10em var(--c-violet),
    9em 10em var(--c-violet),
    10em 10em var(--c-violet)
}

.heraldry2 {
  width: 1em;
  height: 1em;
  position: absolute; 
  top: -1em; 
  left: -1em;
  box-shadow: 
    /* KNEE PAD SHAPE */
    1em 1em var(--bg-color), 2em 1em var(--bg-color), 9em 1em var(--bg-color), 10em 1em var(--bg-color),
    1em 2em var(--bg-color), 10em 2em var(--bg-color),
    1em 8em var(--bg-color), 10em 8em var(--bg-color),
    1em 9em var(--bg-color), 10em 9em var(--bg-color),
    1em 10em var(--bg-color), 2em 10em var(--bg-color), 9em 10em var(--bg-color), 10em 10em var(--bg-color),
    /* KNEE PAD SHAPE */

    1em 1em var(--c-violet),
    2em 1em var(--c-violet),
    3em 1em var(--c-violet),
    4em 1em var(--c-violet),
    5em 1em var(--c-violet),
    6em 1em var(--c-yellow),
    7em 1em var(--c-yellow),
    8em 1em var(--c-black),
    9em 1em var(--c-black),
    10em 1em var(--c-yellow),

    1em 2em var(--c-violet),
    2em 2em var(--c-violet),
    3em 2em var(--c-violet),
    4em 2em var(--c-violet),
    5em 2em var(--c-violet),
    6em 2em var(--c-black),
    7em 2em var(--c-yellow),
    8em 2em var(--c-yellow),
    9em 2em var(--c-black),
    10em 2em var(--c-black),

    1em 3em var(--c-violet),
    2em 3em var(--c-violet),
    3em 3em var(--c-violet),
    4em 3em var(--c-violet),
    5em 3em var(--c-violet),
    6em 3em var(--c-black),
    7em 3em var(--c-black),
    8em 3em var(--c-yellow),
    9em 3em var(--c-yellow),
    10em 3em var(--c-black),

    1em 4em var(--c-violet),
    2em 4em var(--c-violet),
    3em 4em var(--c-violet),
    4em 4em var(--c-violet),
    5em 4em var(--c-violet),
    6em 4em var(--c-yellow),
    7em 4em var(--c-black),
    8em 4em var(--c-black),
    9em 4em var(--c-yellow),
    10em 4em var(--c-yellow),

    1em 5em var(--c-violet),
    2em 5em var(--c-violet),
    3em 5em var(--c-violet),
    4em 5em var(--c-violet),
    5em 5em var(--c-violet),
    6em 5em var(--c-yellow),
    7em 5em var(--c-yellow),
    8em 5em var(--c-black),
    9em 5em var(--c-black),
    10em 5em var(--c-yellow),

    6em 6em var(--c-black),
    7em 6em var(--c-yellow),
    8em 6em var(--c-yellow),
    9em 6em var(--c-black),
    10em 6em var(--c-black), 
    
    6em 7em var(--c-black),
    7em 7em var(--c-black),
    8em 7em var(--c-yellow),
    9em 7em var(--c-yellow),
    10em 7em var(--c-black), 

    6em 8em var(--c-yellow),
    7em 8em var(--c-black),
    8em 8em var(--c-black),
    9em 8em var(--c-yellow),
    10em 8em var(--c-yellow),

    6em 9em var(--c-yellow),
    7em 9em var(--c-yellow),
    8em 9em var(--c-black),
    9em 9em var(--c-black),
    10em 9em var(--c-yellow),

    6em 10em var(--c-black),
    7em 10em var(--c-yellow),
    8em 10em var(--c-yellow),
    9em 10em var(--c-black),
    10em 10em var(--c-black)
}

.heraldry3 {
  width: 1em;
  height: 1em;
  position: absolute; 
  top: -1em; 
  left: -1em;
  box-shadow: 
    /* KNEE PAD SHAPE */
    1em 1em var(--bg-color), 2em 1em var(--bg-color), 9em 1em var(--bg-color), 10em 1em var(--bg-color),
    1em 2em var(--bg-color), 10em 2em var(--bg-color),
    1em 8em var(--bg-color), 10em 8em var(--bg-color),
    1em 9em var(--bg-color), 10em 9em var(--bg-color),
    1em 10em var(--bg-color), 2em 10em var(--bg-color), 9em 10em var(--bg-color), 10em 10em var(--bg-color),
    /* KNEE PAD SHAPE */

    1em 1em var(--c-violet),
    2em 1em var(--c-violet),
    3em 1em var(--c-violet),
    4em 1em var(--c-violet),
    5em 1em var(--c-violet),
    6em 1em var(--c-yellow),
    7em 1em var(--c-yellow),
    8em 1em var(--c-black),
    9em 1em var(--c-black),
    10em 1em var(--c-yellow),

    1em 2em var(--c-violet),
    2em 2em var(--c-violet),
    3em 2em var(--c-violet),
    4em 2em var(--c-violet),
    5em 2em var(--c-violet),
    6em 2em var(--c-black),
    7em 2em var(--c-yellow),
    8em 2em var(--c-yellow),
    9em 2em var(--c-black),
    10em 2em var(--c-black),

    1em 3em var(--c-violet),
    2em 3em var(--c-violet),
    3em 3em var(--c-violet),
    4em 3em var(--c-violet),
    5em 3em var(--c-violet),
    6em 3em var(--c-black),
    7em 3em var(--c-black),
    8em 3em var(--c-yellow),
    9em 3em var(--c-yellow),
    10em 3em var(--c-black),

    1em 4em var(--c-violet),
    2em 4em var(--c-violet),
    3em 4em var(--c-violet),
    4em 4em var(--c-violet),
    5em 4em var(--c-violet),
    6em 4em var(--c-yellow),
    7em 4em var(--c-black),
    8em 4em var(--c-black),
    9em 4em var(--c-yellow),
    10em 4em var(--c-yellow),

    1em 5em var(--c-violet),
    2em 5em var(--c-violet),
    3em 5em var(--c-violet),
    4em 5em var(--c-violet),
    5em 5em var(--c-violet),
    6em 5em var(--c-yellow),
    7em 5em var(--c-yellow),
    8em 5em var(--c-black),
    9em 5em var(--c-black),
    10em 5em var(--c-yellow),

    1em 6em var(--c-white),
    2em 6em var(--c-white),
    3em 6em var(--c-white),
    4em 6em var(--c-white),
    5em 6em var(--c-white),
    6em 6em var(--c-black),
    7em 6em var(--c-yellow),
    8em 6em var(--c-yellow),
    9em 6em var(--c-black),
    10em 6em var(--c-black), 
    
    1em 7em var(--c-white),
    2em 7em var(--c-white),
    3em 7em var(--c-white),
    4em 7em var(--c-white),
    5em 7em var(--c-white),
    6em 7em var(--c-black),
    7em 7em var(--c-black),
    8em 7em var(--c-yellow),
    9em 7em var(--c-yellow),
    10em 7em var(--c-black), 

    1em 8em var(--c-white),
    2em 8em var(--c-white),
    3em 8em var(--c-white),
    4em 8em var(--c-white),
    5em 8em var(--c-white),
    6em 8em var(--c-yellow),
    7em 8em var(--c-black),
    8em 8em var(--c-black),
    9em 8em var(--c-yellow),
    10em 8em var(--c-yellow),

    1em 9em var(--c-white),
    2em 9em var(--c-white),
    3em 9em var(--c-white),
    4em 9em var(--c-white),
    5em 9em var(--c-white),
    6em 9em var(--c-yellow),
    7em 9em var(--c-yellow),
    8em 9em var(--c-black),
    9em 9em var(--c-black),
    10em 9em var(--c-yellow),

    1em 10em var(--c-white),
    2em 10em var(--c-white),
    3em 10em var(--c-white),
    4em 10em var(--c-white),
    5em 10em var(--c-white),
    6em 10em var(--c-black),
    7em 10em var(--c-yellow),
    8em 10em var(--c-yellow),
    9em 10em var(--c-black),
    10em 10em var(--c-black)
}

.heraldry4 {
  width: 1em;
  height: 1em;
  position: absolute; 
  top: -1em; 
  left: -1em;
  box-shadow: 
    /* KNEE PAD SHAPE */
    1em 1em var(--bg-color), 2em 1em var(--bg-color), 9em 1em var(--bg-color), 10em 1em var(--bg-color),
    1em 2em var(--bg-color), 10em 2em var(--bg-color),
    1em 8em var(--bg-color), 10em 8em var(--bg-color),
    1em 9em var(--bg-color), 10em 9em var(--bg-color),
    1em 10em var(--bg-color), 2em 10em var(--bg-color), 9em 10em var(--bg-color), 10em 10em var(--bg-color),
    /* KNEE PAD SHAPE */

    6em 1em var(--c-violet),
    7em 1em var(--c-violet),
    8em 1em var(--c-violet),
    9em 1em var(--c-violet),
    10em 1em var(--c-violet),

    6em 2em var(--c-violet),
    7em 2em var(--c-violet),
    8em 2em var(--c-violet),
    9em 2em var(--c-violet),
    10em 2em var(--c-violet),

    6em 3em var(--c-violet),
    7em 3em var(--c-violet),
    8em 3em var(--c-violet),
    9em 3em var(--c-violet),
    10em 3em var(--c-violet),

    6em 4em var(--c-violet),
    7em 4em var(--c-violet),
    8em 4em var(--c-violet),
    9em 4em var(--c-violet),
    10em 4em var(--c-violet),

    6em 5em var(--c-violet),
    7em 5em var(--c-violet),
    8em 5em var(--c-violet),
    9em 5em var(--c-violet),
    10em 5em var(--c-violet),

    1em 6em var(--c-violet),
    2em 6em var(--c-violet),
    3em 6em var(--c-violet),
    4em 6em var(--c-violet),
    5em 6em var(--c-violet), 
    
    1em 7em var(--c-violet),
    2em 7em var(--c-violet),
    3em 7em var(--c-violet),
    4em 7em var(--c-violet),
    5em 7em var(--c-violet),

    1em 8em var(--c-violet),
    2em 8em var(--c-violet),
    3em 8em var(--c-violet),
    4em 8em var(--c-violet),
    5em 8em var(--c-violet),

    1em 9em var(--c-violet),
    2em 9em var(--c-violet),
    3em 9em var(--c-violet),
    4em 9em var(--c-violet),
    5em 9em var(--c-violet),

    1em 10em var(--c-violet),
    2em 10em var(--c-violet),
    3em 10em var(--c-violet),
    4em 10em var(--c-violet),
    5em 10em var(--c-violet)
}

.heraldry5 {
  width: 1em;
  height: 1em;
  position: absolute;  /* css shenanigans for a proper border */
  top: -1em;  /* offset because of box-shadow values */
  left: -1em; /* offset because of box-shadow values */
  box-shadow: 
    /* KNEE PAD SHAPE */
    1em 1em var(--bg-color), 2em 1em var(--bg-color), 9em 1em var(--bg-color), 10em 1em var(--bg-color),
    1em 2em var(--bg-color), 10em 2em var(--bg-color),
    1em 8em var(--bg-color), 10em 8em var(--bg-color),
    1em 9em var(--bg-color), 10em 9em var(--bg-color),
    1em 10em var(--bg-color), 2em 10em var(--bg-color), 9em 10em var(--bg-color), 10em 10em var(--bg-color),
    /* KNEE PAD SHAPE */

    1em 1em var(--c-violet),
    2em 1em var(--c-violet),
    9em 1em var(--c-violet),
    10em 1em var(--c-violet),

    1em 2em var(--c-violet),
    2em 2em var(--c-violet),
    3em 2em var(--c-violet),
    8em 2em var(--c-violet),
    9em 2em var(--c-violet),
    10em 2em var(--c-violet),

    2em 3em var(--c-violet),
    3em 3em var(--c-violet),
    4em 3em var(--c-violet),
    7em 3em var(--c-violet),
    8em 3em var(--c-violet),
    9em 3em var(--c-violet),

    3em 4em var(--c-violet),
    4em 4em var(--c-violet),
    5em 4em var(--c-violet),
    6em 4em var(--c-violet),
    7em 4em var(--c-violet),
    8em 4em var(--c-violet),

    4em 5em var(--c-violet),
    5em 5em var(--c-violet),
    6em 5em var(--c-violet),
    7em 5em var(--c-violet),

    4em 6em var(--c-violet),
    5em 6em var(--c-violet),
    6em 6em var(--c-violet),
    7em 6em var(--c-violet),

    3em 7em var(--c-violet),
    4em 7em var(--c-violet),
    5em 7em var(--c-violet),
    6em 7em var(--c-violet),
    7em 7em var(--c-violet),
    8em 7em var(--c-violet),

    2em 8em var(--c-violet),
    3em 8em var(--c-violet),
    4em 8em var(--c-violet),
    7em 8em var(--c-violet),
    8em 8em var(--c-violet),
    9em 8em var(--c-violet),

    1em 9em var(--c-violet),
    2em 9em var(--c-violet),
    3em 9em var(--c-violet),
    8em 9em var(--c-violet),
    9em 9em var(--c-violet),
    10em 9em var(--c-violet),

    1em 10em var(--c-violet),
    2em 10em var(--c-violet),
    9em 10em var(--c-violet),
    10em 10em var(--c-violet)
}

.heraldry6 {
  width: 1em;
  height: 1em;
  position: absolute;  /* css shenanigans for a proper border */
  top: -1em;  /* offset because of box-shadow values */
  left: -1em; /* offset because of box-shadow values */
  box-shadow: 
    /* KNEE PAD SHAPE */
    1em 1em var(--bg-color), 2em 1em var(--bg-color), 9em 1em var(--bg-color), 10em 1em var(--bg-color),
    1em 2em var(--bg-color), 10em 2em var(--bg-color),
    1em 8em var(--bg-color), 10em 8em var(--bg-color),
    1em 9em var(--bg-color), 10em 9em var(--bg-color),
    1em 10em var(--bg-color), 2em 10em var(--bg-color), 9em 10em var(--bg-color), 10em 10em var(--bg-color),
    /* KNEE PAD SHAPE */

    1em 1em var(--c-violet),
    2em 1em var(--c-violet),
    3em 1em var(--c-violet),
    4em 1em var(--c-violet),
    5em 1em var(--c-violet),
    6em 1em var(--c-yellow),
    7em 1em var(--c-yellow),
    8em 1em var(--c-black),
    9em 1em var(--c-black),
    10em 1em var(--c-yellow),

    1em 2em var(--c-violet),
    2em 2em var(--c-violet),
    3em 2em var(--c-violet),
    4em 2em var(--c-violet),
    5em 2em var(--c-violet),
    6em 2em var(--c-yellow),
    7em 2em var(--c-yellow),
    8em 2em var(--c-black),
    9em 2em var(--c-black),
    10em 2em var(--c-yellow),

    1em 3em var(--c-violet),
    2em 3em var(--c-violet),
    3em 3em var(--c-violet),
    4em 3em var(--c-violet),
    5em 3em var(--c-violet),
    6em 3em var(--c-black),
    7em 3em var(--c-black),
    8em 3em var(--c-yellow),
    9em 3em var(--c-yellow),
    10em 3em var(--c-black),

    1em 4em var(--c-violet),
    2em 4em var(--c-violet),
    3em 4em var(--c-violet),
    4em 4em var(--c-violet),
    5em 4em var(--c-violet),
    6em 4em var(--c-black),
    7em 4em var(--c-black),
    8em 4em var(--c-yellow),
    9em 4em var(--c-yellow),
    10em 4em var(--c-black),

    1em 5em var(--c-violet),
    2em 5em var(--c-violet),
    3em 5em var(--c-violet),
    4em 5em var(--c-violet),
    5em 5em var(--c-violet),
    6em 5em var(--c-yellow),
    7em 5em var(--c-yellow),
    8em 5em var(--c-black),
    9em 5em var(--c-black),
    10em 5em var(--c-yellow),

    6em 6em var(--c-yellow),
    7em 6em var(--c-yellow),
    8em 6em var(--c-black),
    9em 6em var(--c-black),
    10em 6em var(--c-yellow), 
    
    6em 7em var(--c-black),
    7em 7em var(--c-black),
    8em 7em var(--c-yellow),
    9em 7em var(--c-yellow),
    10em 7em var(--c-black), 

    6em 8em var(--c-black),
    7em 8em var(--c-black),
    8em 8em var(--c-yellow),
    9em 8em var(--c-yellow),
    10em 8em var(--c-black),

    6em 9em var(--c-yellow),
    7em 9em var(--c-yellow),
    8em 9em var(--c-black),
    9em 9em var(--c-black),
    10em 9em var(--c-yellow),

    6em 10em var(--c-yellow),
    7em 10em var(--c-yellow),
    8em 10em var(--c-black),
    9em 10em var(--c-black),
    10em 10em var(--c-yellow)
}