:root {
  --markerBaseSize: 30px;
  --markerBorderSize: calc(var(--markerBaseSize) * 1.25);
  --markerOffsetSize: calc(var(--markerBaseSize) / 8);
  /* Polynomial Interpolation retrieve with : https://polynom.herokuapp.com/ */
  /*--markerLeft: calc(-(4.33522727272727*x^0) + 1.3384361*x^1 - 0.0568544*x^2 + 0.0006468*x^3 - 0.0000026*x^4);
  --markerTop: calc(34.0909*x^0 - 0.6411255*x^1 - 0.0237806*x^2 + 0.0002770*x^3 - 0.0000011*x^4);*/

}

/* style for popup */
.leaflet-popup-content .custom-header {
  font-size: 24px;
}
.leaflet-popup-content .custom-content {
  font-size: 18px;
}

/* My shitty marker style (keep here for reference) */
/*.emoji-marker {
  font-size: 1.5rem;
  width: 1em;
  border-radius: 50% 50% 0 0;
  background: firebrick ;
}*/

/* totaly-not-made-by-me marker style*/
.marker-pin {
  width: var(--markerBorderSize);
  height: var(--markerBorderSize);
  border-radius: 50% 50% 50% 0;
  background: #c30b82;
  position: absolute;
  transform: rotate(-45deg);
  left: -3px;
  top: 2px;
  /*margin: -15px 0 0 -15px;*/
}
/* to draw white circle */
.marker-pin::after {
  content: '';
  width: var(--markerBaseSize);
  height: var(--markerBaseSize);
  margin: var(--markerOffsetSize) 0 0 var(--markerOffsetSize);
  background: #fff;
  position: absolute;
  border-radius: 50%;
}
/* to align icon */
.custom-div-icon span {
  position: absolute;
  width: 22px;
  font-size: 25px;
  left: 3px;
  top: -4px;
  margin: 7px auto;
  text-align: center;
}

/* override leaflet style */
.leaflet-div-icon {
  /* 
  Remove the white square placed by leaflet (otherwise,
  it would be visible with our custom emoji-marker).
  We cannot hide the element because it's the parent of
  our custom markers.
  */
  border: none;
  background: none;
}

