:root {
  --borderMapRadius: 20px;
}

/* 
DOCTYPE switches rendering from quirks to standards mode.
In this mode, the html and body elements do not default 
to 100% of the size of the viewport (browser window).
So we have to specify height to 100%.
More info here : 
https://stackoverflow.com/questions/1966300/height-100-is-not-working-in-html-when-using-doctype/1966377#1966377
 */
html, body { 
  height: 100%;
  background-image: linear-gradient(lightblue 0%, orchid 100%);
}


/* -------------------- */
/*  class : inline-div  */
/* -------------------- */
.inline-div {
  display: flex;
  margin-top: -1rem;
}

.inline-div .sub-header {
  font-size: 50%;
  /* rotation */
  display: inline-block; 
  transform: rotate(-20deg);
  /* left offset */
  position: relative;
  left: -30px;
}
  
.inline-div .content {
  padding: 1rem;
  /*width: 80%; /* leaves space for the title */
}
.inline-div .content div {
  padding: 2px; /* add a small space between div */
}

/* ----------------------- */
/*  class : mainContainer  */
/* ----------------------- */
.mainContainer {
  width: 100%;
  height: 85%;
  position: relative;
}

.mainContainer #map{
  width: 100%;
  height: 100%;
  border-radius: var(--borderMapRadius);
  position: absolute;
  top: 0;
  left: 0;
}

.mainContainer #checkMenuId {
  border-radius: 0 var(--borderMapRadius) 0 var(--borderMapRadius);
  position: absolute;
  z-index: 401;
  background-color: whitesmoke;
  top: 0;
  right: 0;
  /*margin-top: 10;*/
}

/* ----------------- */
/*  class : rainbow  */
/* ----------------- */
.rainbow {
  animation: colorRotateKf 2s linear 0s infinite;
}

@keyframes colorRotateKf {
  from {
    color: #6666ff;
  }
  10% {
    color: #0099ff;
  }
  50% {
    color: #00ff00;
  }
  75% {
    color: #ff3399;
  }
  100% {
    color: #6666ff;
  }
}

/* --------------------- */
/*  class : zoom-in-out  */
/* --------------------- */
.zoom-in-out {
  animation: zoomInOutKf 1s ease-in-out infinite;
}

@keyframes zoomInOutKf {
  50% {
    transform: scale(1.5, 1.5);
    rotate: -20deg; /* same value as in the .sub-header class */
  }
}

/* --------------------- */
/*  class : rotating  */
/* --------------------- */
.rotating {
  animation-name: rotateKf;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-play-state: paused;
}

@keyframes rotateKf {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}